In [1]:
import pandas as pd
from src.data_processing_utils import process, raw_schema, processed_schema

In [2]:
df = pd.read_csv("data/raw/Matthieu/accelerometer10_data.csv")
df.head()

   X (g)  Y (g)  Z (g)            Timestamp
0   0.96   0.03   0.22  2025-02-11 11:16:21
1   0.96   0.03   0.22  2025-02-11 11:16:21
2   0.96   0.03   0.22  2025-02-11 11:16:21
3   0.96   0.02   0.22  2025-02-11 11:16:21
4   0.96   0.02   0.22  2025-02-11 11:16:21

In [3]:
df = raw_schema.validate(df)
df.head()

   X (g)  Y (g)  Z (g)           Timestamp
0   0.96   0.03   0.22 2025-02-11 11:16:21
1   0.96   0.03   0.22 2025-02-11 11:16:21
2   0.96   0.03   0.22 2025-02-11 11:16:21
3   0.96   0.02   0.22 2025-02-11 11:16:21
4   0.96   0.02   0.22 2025-02-11 11:16:21

In [4]:
processed_df = process(df)
processed_df.head()

                        time (s)  X (g)  Y (g)  Z (g)  acceleration (g)
time (timedelta)
0 days 00:00:00             0.00  0.965   0.03   0.22          0.990215
0 days 00:00:00.010000      0.01  0.960   0.03   0.22          0.985343
0 days 00:00:00.020000      0.02  0.960   0.03   0.22          0.985343
0 days 00:00:00.030000      0.03  0.960   0.03   0.22          0.985343
0 days 00:00:00.040000      0.04  0.960   0.03   0.22          0.985343