In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [3]:
df = pd.read_csv("data/output/Felix/accelerometer7_data.csv")

df.head()

   X (g)  Y (g)  Z (g)                   Timestamp  acceleration (g)  time (s)
0   0.98  -0.22   0.09  2025-02-11 14:56:25.414990          1.008415       0.0
1   0.98  -0.22   0.09  2025-02-11 14:56:25.429187          1.008415       1.0
2   0.97  -0.22   0.09  2025-02-11 14:56:25.429981          0.998699       2.0
3   0.97  -0.22   0.09  2025-02-11 14:56:25.431797          0.998699       3.0
4   0.97  -0.22   0.09  2025-02-11 14:56:25.459433          0.998699       4.0